* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
    scroll-behavior: smooth;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /*retira a barra de rolagem debaixo*/
    scroll-behavior: smooth;
}

.section {
    min-height: 100vh;
}

.sony {
    background-color: black;
    text-align: right;
    padding-right: 5px;
    padding-top:6px;
    padding-bottom: 6px;
}

.sony-logo {   
    min-width: 82px;
    width: 5%;
}

.container-logo-init-search {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.logo-ps {
    /* background-color: green; */
    justify-self: start;
    margin-left: 20px;
}

.init-search {
    /* background-color: violet; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
     /* flex: 1 0 auto; 1: crescer(logo não dimini mais), 0: reduzir, auto: tamanho mínimo necessário para preencher a dimensão do eixo principal */
}

.init {
    /* background: red; */
    background-color: white;
    margin-right: 10px;
}

.init button {
    background-color: rgb(32, 32, 32);
    border-radius: 23px;
    padding: 6px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.init button a {
    color: white;
    text-decoration: none;
}

.search {
    /* background: purple; */
    margin-right: 20px;   
}

/* .search input {
    font-size: 20px;
    margin-bottom: 5px;
} */

.search button {
    text-decoration: none;
    border: none;
    
}

.search button {
    background-image: url("assets/img/search.png");
    background-size: 23px;
    height: 23px;
    width: 23px;
    
}

#playstation-logo {
    height: 50px;
    width: 50px;
}

.menu {
    width: 100%;
    /* position: fixed; */
    left: 0;
    right: 0;
    /* top: 10px; */
    width: 100%;
    z-index: 1;
    background-color: white;
    border-top: 1px solid rgb(218, 214, 214);
}

.menu-content {
    display: grid;
    grid-template-columns: 0fr 1fr;
    /* justify-content: space-between;
    align-items: center;
    flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.menu-title {
    /* background: pink; */
    width: 140px;
}

/* .menu-list {
    background: green;
} */

.menu-content h1 a {
    text-decoration: none;
    color: black;
    
}

.menu-content ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.menu-item {
    flex-direction: row;
    flex: 1;
    font-weight: bold;
    color: #a7a4a4;
}

.menu-item {
    flex-direction: row;
    flex: 1;
    font-weight: bold;
    color: #a7a4a4;
    margin-left: 40px;;
}

.menu-item a {
    text-decoration: none;
    color:black;
    font-size: 14px;
    display: block;
    /* padding: 2rem;
    font-size: 1.8rem; */
    position: relative;
}

.menu-item a::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 50%;
    background: #337AFF;
    width: 0;
    height: 5px;
    transition: all 300ms ease-in-out;
}

.menu-item a:hover::after {
    width: 50%;
    left: 25%;
    color: #337AFF;
}

.white-background {
    background: white;
    color: black;
}

.gray-background {
    background: #ececec;
    color: black;
    /* min-height: 80px; */
    width: 1349px;
    height: 500px;
    background-position: center center;
    background-size: cover;
    /* max-width: 1280px; */
}

.access-content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.access-content-img {
    width: 500px;
    height: 500px;
    margin-left: 30px;
}

.access-content img {
    width: 500px;
    height: 500px;
    margin-left: 30px;
}

.access-content-text {
    margin-top: 135px;
    margin-left: 80px;
    margin-bottom: 300px;
    padding: 25px 25px 25px 25px;
    /* border: 1px solid; */
    background: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.access-content-text h1 {
    color: #337AFF;
    font-size: 45px;
}

.access-content-text p {
    color: #504f4f;
    font-size: 22px;
    line-height: 23px;
}

.control-wifi {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    text-align: center;
    margin: 60px;
    /* max-width: 100px; */
}

.control-wifi-title-img h2 {
    font-weight: normal;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 60px;
}


.control-wifi-text p {
    margin-left: 320px;
    margin-right: 320px;
    margin-top: 60px;
    margin-bottom: 40px;
    line-height: 25px;
    color: #504f4f;
}

.control-wifi-text button {
    border-radius: 18px;
    background: rgb(0, 89, 255);
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px;
}

.control-wifi-text button a {
    text-decoration: none;
    color: inherit;
}

.charging-base-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    /* margin: 60px; */
}

.charging-base-text {
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 80px 60px 10px 230px ;

}

.charging-base-title {
    /* background-color: blue; */
    line-height: 1.4;
    font-size: 21px;
    font-weight: normal;
    color: black;
}

.charging-base-title h2 {
    font-size: 30px;
    font-weight: normal;
    color: black;
}

.charging-base-p {
    /* background-color: red; */
    line-height: 1.4;
    color: rgb(80, 79, 79);
}

.charging-base-button button{
    /* background-color: yellow; */
    border-radius: 18px;
    background-color: rgb(0, 89, 255);
    font-size: 15px;
    border: none;
    padding: 10px;
}

.charging-base-button a{
    text-decoration: none;
    color: white;
}


.charging-base-img {
    min-width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 40px;
}

.headset {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 50px 380px;
    line-height: 25px;
}

.headset p {
    color: rgb(80, 79, 79);
}
.headset h2 {
    font-size: 30px;
    font-weight: normal;
    color: black;
}


.headset button {
    border-radius: 18px;
    background-color: rgb(0, 89, 255);
    font-size: 15px;
    border: none;
    padding: 10px;
}

.headset button a{
    text-decoration: none;
    color: white;
}

.gray-background-little {
    background: #ececec;
    color: black;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    /* max-width: 1280px; */
}

.media-control {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px 20px;
}

.media-control-img {
    /* background-color: blue; */
    margin-top: 32px;
    justify-self: right;
}


.media-control-content {
    /* background-color: red; */
    align-self: center; 
    line-height: 1.4;
    text-align: left;
    margin-right: 180px;
    margin-left: 20px;
}

.media-control-content h2 {
    font-size: 30px;
    font-weight: normal;
    color: black;
}

.media-control-content p{
    color: rgb(80, 79, 79);
}

.media-control-content button {
    border-radius: 18px;
    background-color: rgb(0, 89, 255);
    font-size: 15px;
    border: none;
    padding: 10px;
}

.media-control-content button a{
    text-decoration: none;
    color: white;
}
.camera {
    /* background-color: blue; */
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 190px;
}

.camera-text-img {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
} 
.camera-text {
    /* background-color: crimson; */
    justify-content: left;
    margin: 40px;
    line-height: 1.4;
}

.camera-text h2 {
    font-size: 35px;
    font-weight: normal;
    color: black;
}

.camera-text p{ /*se repete*/
    color: rgb(80, 79, 79);
}

.camera-text button {
    border-radius: 18px;
    background-color: rgb(0, 89, 255);
    font-size: 15px;
    border: none;
    padding: 10px;
}

.camera-text button a{
    text-decoration: none;
    color: white;
}

.camera-img {
    /* background-color: yellow; */
    justify-content: right;
}

.camera-adaptador {
    /* background-color: violet; */
    text-align: center;
    margin:20px;
    
}

.camera-adaptador h2 {
    margin-top: 40px;
    font-size: 35px;
    font-weight: normal;
    color: black;
}

.camera-adaptador p{ /*se repete*/
    color: rgb(80, 79, 79);
    line-height: 1.4;
    margin-bottom: 60px;
}

.playstation-footer {
    /* background: rgb(12, 64, 161); */
    /* background: white; */
    background-color: rgb(0, 67, 156); /*cor playstation*/
    height: 200px;
    width: 100%;
    display: grid;
    justify-content: left;
    align-content: center;
    
}

.playstation-footer img {
    /* background-color: red; */
    margin-left: 130px;
    
    height: 70px;
    width: 160px;
    /* flex-direction: ; */
}

.playstation-footer h4 {
    margin-left: 140px;
    /* background-color: green; */
    color: white;
    font-weight: normal;
}

.back-to-top {
    border-radius: 50%;
    border: 1px solid rgb(0, 89, 255);
    width: 50px;
    height: 50px;
    color: rgb(0, 67, 156);;
    text-decoration: none;
    transform: rotate(-90deg);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}


/* ajustes feitos: retirada da barra de rolagem inferior, botão back to top retorna suavemente, ajuste do tamanho da imagem PS5*/
/* falta - vídeo e botão de clique no menu para ir para cada seção*/

