* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-playstation: #006FCD; 
}

html {
    scroll-behavior: smooth; /*scroll do mouse mais suave*/
    min-height: 100vh;
}

body {
    /* font-family: sans-serif; */
    /* overflow-x: hidden; */
    font-family: 'Montserrat', sans-serif;
    
}

p {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

#sony-bar {
    background-color: black;
    height: 46px;
}

#sony-bar a img {
    width: 112px;
    height: 28px;
    float: right;
    margin-right: 20px;
    margin-top: 9px;
}

.bg-little-white {
    background-color: white;
    color: black;
    /* height: 100px; */
}

.little-white-position {
    position: sticky;
    top: 0;
    /*não vi mudança:*/
    left: 0;
    width: 100%; 
    z-index: 1;
    /*border-bottom: 10px solid black; não precisa*/
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    max-width: 1200px;
    padding: 20px 5px;
    margin: 0 auto;

}

#menu a {
    width: 262px;
    height: 59px;
}

#menu a img {
    width: inherit;
    height: inherit;
}

#menu-list {
    list-style: none;
    display: flex; /*por padrão a lista altera para row*/
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

li {
    width: 150px; 
    height: 50px;
}

#menu-list li a {
    display: block;
    position: relative;
    /* padding: 20px; */
    /* font-size: 18px; */
    color: black;
    width: 150px;
    height: 50px;
    padding: 16px; 
}

#menu-begin-session {
    background-color: black;
    padding: 6px;
    border-radius: 18px;
    border: none;
    font-weight: bold;
}

#menu-begin-session a {
    color: white;
    font-size: 15px;
}


.bg-gray {
    background-color: rgb(228, 228, 228);
    /* width: 1366px; */
    height: 515px;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1fr; /*duas colunas, altera a largura da linha*/
    gap: 5px; /*espaçamento interno entre linhas e colunas*/
    /*alinhamento*/
    justify-content: center; /*todos elementos. outras: end, center*/
    align-items: center;
}

#intro-content {
    margin-left: 220px;
    margin-right: 30px;
}

#intro-content h2 {
    font-size: 60px;
    color: var(--blue-playstation);    
}

#intro-content p {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.623);
}

#intro-img img {
    width: 469px;
    height: 458px;
}

.controls-dualsense { /*uma tag não pode ter 2 id's nem duas classes(coloquei as 2 classes em uma mesma classe)*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 180px;;
    text-align: center;
    gap: 10px;
}

.bg-white {
    /* width: 1366px; */
    height: 632px;
    background-color: white;  
}

h3 {
    font-size: 38px;
    font-weight: normal;
}

p {
    color: rgba(0, 0, 0, 0.733);
    line-height: 1.6;
}

.button-find-out-more {
    color: white;
    background-color: var(--blue-playstation);
    padding: 11px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

#charging-base { /*TRANSFORMAR PARA CLASSE: model-grid*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#charging-base-content {
    margin-left: 200px;
}

#charging-base-img {
    width: 433px;
    height: 399px;
}

.back-to-top {
    border-radius: 50%;
    border: 1px solid rgb(202, 202, 202);
    width: 45px;
    height: 45px;
    color: rgb(0, 67, 156);
    text-decoration: none;
    transform: rotate(-90deg);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 1px;
    right: 1px;

    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}

.close-menu {
    display: none; /*retira o checkbox*/   
}

@media (max-width: 700px) { /*largura do smartphone mais largo.*/

    .little-white-position {
        display: none;
        bottom: 0;
        text-align: center;
    }

    #menu, #menu-list {
        flex-direction: column;
        justify-content: center;
    }

    #menu {
        height: 100vh;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2; /*o label vai focar sobre o menu */
        top: 20px;
        right: 20px;
        color: white;
        background-color: black;
        font-size: 30px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }

    .close-menu:checked~.little-white-position {
        display: block; /*quando o close-menu estiver checked eu quero que o menu tenha display block*/
    }
    
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    #sony-bar {
        display: none;
    }

    #intro {
        grid-template-columns: 1fr 0fr;
    }

    #intro img {
        display: none;
    }

    #intro-content {
        margin-left: 0;
    }

    #intro-content h2 {
        font-size: 45px;
        text-align: center;
    }

    #intro-content p {
        font-size: 20px;
        text-align: center;
    }

    .controls-dualsense {
        padding: 40px;
        /*  display: block;  */
    }

    .controls-dualsense img {
        width: 359px;
        height: 105px;
    }

    h3 {
        font-size: 30px;
    }
}
